body {
    display: grid;
    grid:
        "nav header header" 10vh
        "nav main aside" 40vh
        "footer footer footer" 10vh
        / minmax(20%, 200px) 1fr minmax(20%, 200px)
    ;

    header {
        grid-area: header;
        background-color: aqua;
    }

    nav {
        grid-area: nav;
        background-color: bisque;
    }

    main {
        grid-area: main;
        background-color: burlywood;
    }

    footer {
        grid-area: footer;
        background-color: aquamarine;
    }

    aside {
        grid-area: aside;
        background-color: cadetblue;
    }
}

@media (max-width: 800px) {
    body {
        grid:
            "header" 10vh
            "nav" 10vh
            "main" 40vh
            "footer" 10vh
            "aside" 10vh
        ;
    }
}